# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de compilación
/build
/dist

# Ignorar dependencias
/node_modules
/vendor

# Ignorar archivos de configuración
.env
*.local

# Ignorar archivos de logs
*.log
